@media screen and (max-width: 1400px) {
  #profile {
    height: fit-content;
    margin-bottom: 10rem;
  }
  .about-containers {
    flex-wrap: wrap;
  }
  #desktop-nav .nav-links,
  #hamburger-nav {
    display: none;
  }

  #about .text-container {
    padding-bottom: 2rem;
  }

  #desktop-nav {
    height: 5vh;
  }

  /* .home__arrow {
    width: 40px;
  } */

  .arrow__container {
    display: none;
  }

  .form-container {
    padding-top: 5rem;
  }

  footer p {
    position: relative;
    bottom: 6rem;
  }

  #button2 {
    display: none;
  }
}

@media screen and (max-width: 1200px) {
  #desktop-nav {
    display: none;
  }
  aside {
    display: none;
  }
  #hamburger-nav {
    display: flex;
  }
  .title {
    text-align: center;
  }
  .section__text__p1 {
    text-align: center;
  }
  #Experience,
  .expreience-details-container {
    margin-top: 2rem;
  }
  #profile,
  .section-container {
    display: block;
  }
  .arrow {
    display: none;
  }
  section,
  .section-container {
    height: fit-content;
  }
  section {
    margin: 0 5%;
  }
  .section__pic-container {
    width: 275px;
    height: 275px;
    margin: 0 auto 2rem;
  }
  .about-containers {
    margin-top: 0;
  }

  #Contact .contact-info-upper-container {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .arrow__container {
    position: relative;
    bottom: -1.75rem;
    padding-bottom: 10px;
  }

  .form-container {
    padding-top: 2rem;
  }

  footer p {
    position: relative;
    bottom: -2rem;
    padding-bottom: 1.5rem;
  }
}

@media screen and (max-width: 600px) {
  #Contact {
    height: 40vh;
  }

  footer {
    height: 20vh;
  }
  aside {
    display: none;
  }
  #profile {
    height: 83vh;
    margin-bottom: 0;
  }
  article {
    font-size: 1rem;
  }
  footer nav {
    height: fit-content;
    margin-bottom: 2rem;
  }

  .about-containers,
  .contact-info-upper-container,
  .btn-container {
    flex-wrap: wrap;
  }

  .contact-info-container {
    margin: 0;
  }

  .contact-info-container p,
  .nav-links li a {
    font-size: 1rem;
  }

  .experience-sub-title {
    font-size: 1.25rem;
  }

  .logo {
    font-size: 1.5rem;
  }

  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }

  .section__pic-container {
    width: auto;
    height: 46vw;
    justify-content: center;
  }

  .section__text__p2 {
    font-size: 1.25rem;
  }

  .title {
    font-size: 2rem;
    text-align: center;
  }

  .section__text__p1 {
    text-align: center;
  }

  .text-container {
    text-align: justify;
    /* padding-bottom: 2.5rem; */
  }

  #Contact .title {
    text-align: center;
  }

  #Contact .content-container {
    max-width: 100%;
  }

  #about .section__pic-container {
    display: none;
  }

  footer p {
    margin-top: 1.5rem;
    font-size: 12px;
  }

  .arrow__container {
    position: relative;
    bottom: -9rem;
    padding-bottom: 10px;
  }

  footer p,
  .arrow__container {
    display: flex;
    justify-content: center;
  }

  .form-container {
    padding-top: 2rem;
  }

  footer p {
    position: relative;
    bottom: -3rem;
    padding-bottom: 1.5rem;
  }

  .button-container {
    display: flex;
    flex-direction: column;
  }

  form {
    padding-top: 3rem;
  }
}

@media screen and (max-width: 768px) {
  nav {
    display: none;
  }

  footer p {
    margin-bottom: 10vh;
  }

  #about .section__pic-container {
    display: none;
  }

  .form-container {
    padding-top: 2rem;
  }
}

@media screen and (max-width: 1024px) {
  #about .text-container {
    padding-bottom: 2rem;
  }
  nav {
    display: none;
  }
  .form-container {
    padding-top: 1rem;
  }
}

@media screen and (max-width: 1024px) {
  .arrow__container {
    position: relative;
    bottom: -7.5rem;
    padding-bottom: 10px;
  }

  .form-container {
    padding-top: 2rem;
  }
}
